@media (max-width: 800px) {
    #what-it-is-p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #what-it-is-p img {
        border-radius: 32%;
        box-shadow: 0 0 5px 16px white;
        margin: auto;
    }
    #what-it-is-p span {
        margin-top: 22px;
    }
}