.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: flex-start;
    text-align: justify;

    font: normal 16pt Arial;

    color: #e8e8e8;
}

.title-div {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font: bold 44pt Arial;
}
.title-h1 {
    margin: auto;
}
.subtitle-div {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.subtitle-h2 {
    font: bold 36pt Arial;
    margin: auto;
}
.subtitle-h3 {
    font: bold 28pt Arial;
    margin: auto;
}

.paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    column-gap: 25px;

    margin: 18px 0 190px 8px;
}
.paragraph span {
    margin-bottom: 13px;
}

#what-it-is-p img {
    border-radius: 32%;
    box-shadow: 0 0 5px 16px white;
}

#what-is-selic-over-p img {
    width: 44vw;

    border-radius: 20%;
    box-shadow: 0 0 5px 16px #faf1e7;
}

#what-is-selic-meta-p img {
    width: 22vw;

    background-color: #b8b8b8;
    box-shadow: 0 0 5px 16px #b8b8b8;
}

#inflation-p {
    flex-wrap: nowrap;
}
.inflation-images-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inflation-images-wrapper img {
    width: 36vw;

    box-shadow: 0 0 5px 16px #ffffff;
}

.news {
    text-align: center;

    font: bold 20pt Arial;

    color: #e8e8e8;
}

a:any-link {
    color: whitesmoke;
}

.destacado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 80vw;
    margin: auto;

    align-items: center;

    column-gap: 20px;

    background-color: #222;
    padding: 12px;

    border-radius: 8px;
}

.destacado img {
    width: 15vw;

    border: solid 6px #333;
}

#graf-selic {
    width: 65vw;
    margin: auto;

    box-shadow: 0 0 5px 16px whitesmoke;
}

.simuladores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 13px;

    text-align: center;
}

.simuladores .destacado {
    width: 40vw;
    margin: auto;
}